*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: blueviolet;

}
.artigo{
    font-size: 25px;
}
body{
    background-color: rgb(251, 255, 0);
    height:auto


}
main{
    background-color: aqua;
    width:auto;
    height: 800px;
    box-shadow:  3px 3px 5px rgb(0, 0, 473);
}
.container{
   display: flex;
   flex-direction: row;
  
   
}
    